{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'Calculator'|trans }}</h3>
                </div>
                {{ form_start(form) }}
                <div class="pad-all">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.firstNumber) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.secondNumber) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.method) }}
                        </div>
                    </div>
                </div>

                <div class="panel-footer text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-check"></i> {{ 'Save'|trans }}
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    {% if result is not null %}
        {{ 'The result is %result%'|trans({'%result%': result}) }}
    {% endif %}

{% endblock body %}
